<a href="https://colab.research.google.com/github/ShirsSosa/Data_Visualization_Technical_Assessment-/blob/main/01_Data_Cleaning_and_Preparation_LAC_S.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive

# This line starts the authorization process.
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
file_path = '/content/drive/MyDrive/DV-tech/LAC_Socioeconomic_Data.xlsx'

try:
    df = pd.read_excel(file_path)
    print("Success!")
    print(df.head())
except FileNotFoundError:
    print(f"Error")
except Exception as e:
    print(f"unexpected error: {e}")

Success!
     Country  Year  GDP_per_capita  Female_Labor_Participation  \
0  Argentina  1995     9367.182020                   63.780880
1  Argentina  1996     9838.496079                   62.315155
2  Argentina  1997    11268.125610                   63.818546
3  Argentina  1998     9495.256081                   63.110653
4  Argentina  1999    10402.671200                   64.062310

   Male_Labor_Participation  Female_Unemployment  Male_Unemployment  \
0                 80.975081            11.788798          11.727045
1                 81.176480             7.203521           5.367962
2                 80.928034             5.875765           5.680611
3                 80.842842             9.446946           9.343780
4                 80.588643             6.984839           4.498627

   Female_Secondary_Education  Male_Secondary_Education  \
0                   88.495493                 80.171066
1                   46.974693                 44.053247
2                   87.444277                 77.787957
3                   85.466020                 82.878220
4                   57.837666                 55.028321

   Female_Tertiary_Education  Male_Tertiary_Education  Female_Literacy  \
0                  20.616956                16.980456        79.401708
1                  28.318092                19.196692        93.844223
2                  50.419867                44.327592        77.344131
3                  43.126114                36.891893        87.481633
4                  37.134804                34.316320        94.252728

   Male_Literacy
0      78.618677
1      92.642918
2      78.081063
3      87.668474
4      92.550930

In [4]:
# Select only the columns necessary for the study
main_columns = [
    'Country',
    'Year',
    'GDP_per_capita',
    'Female_Labor_Participation',
    'Male_Labor_Participation',
    'Female_Unemployment',
    'Male_Unemployment',
    'Female_Secondary_Education',
    'Male_Secondary_Education',
    'Female_Tertiary_Education',
    'Male_Tertiary_Education',
    'Female_Literacy',
    'Male_Literacy'
]

# Create a new DataFrame that contains ONLY those columns.
# Use .copy() for prevent issues with original dataset
try:
    project_df = df[main_columns].copy()
    print("Success!")

    # 3. Verify the result.
    print("\nShape of the new DataFrame (rows, columns):", project_df.shape)
    print("\nFirst 5 rows of the new DataFrame:")
    print(project_df.head())

except KeyError as e:
    print(f"Error! A column was not found: {e}")
    print("Check if the list are correct.")

Success!

Shape of the new DataFrame (rows, columns): (660, 13)

First 5 rows of the new DataFrame:
     Country  Year  GDP_per_capita  Female_Labor_Participation  \
0  Argentina  1995     9367.182020                   63.780880
1  Argentina  1996     9838.496079                   62.315155
2  Argentina  1997    11268.125610                   63.818546
3  Argentina  1998     9495.256081                   63.110653
4  Argentina  1999    10402.671200                   64.062310

   Male_Labor_Participation  Female_Unemployment  Male_Unemployment  \
0                 80.975081            11.788798          11.727045
1                 81.176480             7.203521           5.367962
2                 80.928034             5.875765           5.680611
3                 80.842842             9.446946           9.343780
4                 80.588643             6.984839           4.498627

   Female_Secondary_Education  Male_Secondary_Education  \
0                   88.495493                 80.171066
1                   46.974693                 44.053247
2                   87.444277                 77.787957
3                   85.466020                 82.878220
4                   57.837666                 55.028321

   Female_Tertiary_Education  Male_Tertiary_Education  Female_Literacy  \
0                  20.616956                16.980456        79.401708
1                  28.318092                19.196692        93.844223
2                  50.419867                44.327592        77.344131
3                  43.126114                36.891893        87.481633
4                  37.134804                34.316320        94.252728

   Male_Literacy
0      78.618677
1      92.642918
2      78.081063
3      87.668474
4      92.550930

In [5]:
# --- STEP 1: Check & clean data ---
print("--- 1. DataFrame Info ---")
project_df.info()

print("\n" + "="*50 + "\n") # Visual separator

# Count of missing (NaN) values for each column.
print("--- 2. Count of Missing Values (NaN) per Column ---")
missing_values = project_df.isnull().sum()
print(missing_values)

--- 1. DataFrame Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660 entries, 0 to 659
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Country                     660 non-null    object
 1   Year                        660 non-null    int64
 2   GDP_per_capita              660 non-null    float64
 3   Female_Labor_Participation  660 non-null    float64
 4   Male_Labor_Participation    660 non-null    float64
 5   Female_Unemployment         660 non-null    float64
 6   Male_Unemployment           660 non-null    float64
 7   Female_Secondary_Education  660 non-null    float64
 8   Male_Secondary_Education    660 non-null    float64
 9   Female_Tertiary_Education   660 non-null    float64
 10  Male_Tertiary_Education     660 non-null    float64
 11  Female_Literacy             660 non-null    float64
 12  Male_Literacy               660 non-null    float64
dtypes: float64(11), int64(1), object(1)
memory usage: 67.2+ KB

==================================================

--- 2. Count of Missing Values (NaN) per Column ---
Country                       0
Year                          0
GDP_per_capita                0
Female_Labor_Participation    0
Male_Labor_Participation      0
Female_Unemployment           0
Male_Unemployment             0
Female_Secondary_Education    0
Male_Secondary_Education      0
Female_Tertiary_Education     0
Male_Tertiary_Education       0
Female_Literacy               0
Male_Literacy                 0
dtype: int64

In [8]:
# --- STEP 2: Create new variables ---

# Check if the columns already exist to prevent errors if you run the cell multiple times.
if 'labor_participation_gap' not in project_df.columns:
    print("⚙️  Creating new 'gap' columns for analysis...")

    # Calculate the difference between male and female indicators.
    # These new columns will be the core of our storytelling.
    project_df['labor_participation_gap'] = project_df['Male_Labor_Participation'] - project_df['Female_Labor_Participation']
    project_df['secondary_education_gap'] = project_df['Male_Secondary_Education'] - project_df['Female_Secondary_Education']
    project_df['tertiary_education_gap'] = project_df['Male_Tertiary_Education'] - project_df['Female_Tertiary_Education']
    project_df['literacy_gap'] = project_df['Male_Literacy'] - project_df['Female_Literacy']

    # For unemployment, a positive gap means unemployment is higher for females, which is a key insight.
    project_df['unemployment_gap'] = project_df['Female_Unemployment'] - project_df['Male_Unemployment']

    print("Success! Gap columns have been created.")

else:
    print("Gap columns already exist. No changes made.")


# --- Verification Step ---
# Let's display the first few rows with some of the new gap columns to ensure they were calculated correctly.
print("\n--- Verifying the new columns ---")
columns_to_verify = [
    'Country',
    'Year',
    'Female_Labor_Participation',
    'Male_Labor_Participation',
    'labor_participation_gap',
    'Female_Secondary_Education',
    'Male_Secondary_Education',
    'secondary_education_gap'
]
print(project_df[columns_to_verify].head())

Gap columns already exist. No changes made.

--- Verifying the new columns ---
     Country  Year  Female_Labor_Participation  Male_Labor_Participation  \
0  Argentina  1995                   63.780880                 80.975081
1  Argentina  1996                   62.315155                 81.176480
2  Argentina  1997                   63.818546                 80.928034
3  Argentina  1998                   63.110653                 80.842842
4  Argentina  1999                   64.062310                 80.588643

   labor_participation_gap  Female_Secondary_Education  \
0                17.194201                   88.495493
1                18.861325                   46.974693
2                17.109489                   87.444277
3                17.732189                   85.466020
4                16.526333                   57.837666

   Male_Secondary_Education  secondary_education_gap
0                 80.171066                -8.324426
1                 44.053247                -2.921446
2                 77.787957                -9.656320
3                 82.878220                -2.587800
4                 55.028321                -2.809345

In [12]:
print("Reshaping data to a 'long' format...")
id_vars = [
    'Country',
    'Year',
    'GDP_per_capita'
]

value_vars = [
    'labor_participation_gap',
    'secondary_education_gap',
    'tertiary_education_gap',
    'unemployment_gap',
    'literacy_gap'
]

df_long = project_df.melt(
    id_vars=id_vars,
    value_vars=value_vars,
    var_name='Gap Type',
    value_name='Gap Value'
)

gap_name_mapping = {
    'labor_participation_gap': 'Labor Participation',
    'secondary_education_gap': 'Secondary Education',
    'tertiary_education_gap': 'Tertiary Education',
    'unemployment_gap': 'Unemployment',
    'literacy_gap': 'Literacy'
}

df_long['Gap Type'] = df_long['Gap Type'].replace(gap_name_mapping)

print("Success!")
print("Here is a preview of your new 'long' dataset:")
print(df_long.head())

Reshaping data to a 'long' format...
Success!
Here is a preview of your new 'long' dataset:
     Country  Year  GDP_per_capita             Gap Type  Gap Value
0  Argentina  1995     9367.182020  Labor Participation  17.194201
1  Argentina  1996     9838.496079  Labor Participation  18.861325
2  Argentina  1997    11268.125610  Labor Participation  17.109489
3  Argentina  1998     9495.256081  Labor Participation  17.732189
4  Argentina  1999    10402.671200  Labor Participation  16.526333

In [13]:
# --- STEP 3: Save DataFrame  ---

output_filename_long = 'Final_LAC_Socioeconomic_Data_v2.csv'
output_path_long = f'/content/drive/MyDrive/DV-tech/{output_filename_long}'
df_long.to_csv(output_path_long, index=False)

print(f"Success!")
print(f"DataFrame is ready!:")
print(output_path_long)

Success!
DataFrame is ready!:
/content/drive/MyDrive/DV-tech/Final_LAC_Socioeconomic_Data_v2.csv